*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header1{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
nav{
    display: flex;
    gap: 30px;
    a{
        font-size: 18px;
        text-decoration: none;
        color: black;
        &:hover{
            color: blue;
            border-bottom: 3px solid blue;
            font-size: 20px;
        }
    }
}
div{
    display: flex;
    gap: 50px;
    button{
        background-color: white;
        color: black;
        border: none;
        border-bottom: 2px solid grey;
        padding: 10px;
        border-radius: 10px;
        width: 130px;
    }
}
.sec1{
    width: 1400px;
    height: 600px;
    margin: auto;
    background: linear-gradient(#D4E7FE,#FFFFFF);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div2{
        width: 450px;
        height: 400px;
        display: flex;
        flex-direction: column;
        p{
            background-color: aliceblue;
            color: blue;
            width: 200px;
            height: 20px;
            border-radius: 10px;
            padding: 10px;
            text-align: center;
           }
        h1{
            width: 100%;
            font-size: 45px;
        }
    }
.div3{
        .bn1{
            background-color: blue;
            color: white;
            padding: 15px;    
        }
    }
